body {
  background: rgb(16,15,16);
  background: linear-gradient(77deg, rgba(16,15,16,1) 0%, rgba(23,20,25,1) 25%, rgba(32,32,35,1) 50%, rgba(23,20,25,1) 75%, rgba(8,8,8,1) 100%);
  object-fit: cover;
  color: #eaeaea;

}
