// Specific CSS for your home-page

body {
  background: rgb(16,15,16);
  background: linear-gradient(77deg, rgba(16,15,16,1) 0%, rgba(23,20,25,1) 25%, rgba(32,32,35,1) 50%, rgba(23,20,25,1) 75%, rgba(8,8,8,1) 100%);
  object-fit: cover;
  color: #eaeaea;

}


.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;

}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*
  <uniquifier>: Use un nombre de clase único y descriptivo
  <weight>: Usa un valor de 100 a 900
*/

.card {
  width: 74%;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(30, 30, 30, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
  background: rgb(21,19,23);
  background: linear-gradient(77deg, rgba(21,19,23,1) 0%, rgba(28,26,30,1) 16%, rgba(30,29,33,1) 29%, rgba(28,26,30,0.7164916137353379) 43%, rgba(8,12,24,1) 61%);

  .content {
    display: flex;
    flex-direction: row;
  }

  .text {
    padding: 20px;
    flex: 2;
    margin-top: 2%;

    h2 {
      margin-bottom: 10px;
      color: rgb(218, 233, 247);
      margin-left: 10%;
    }

    p {
      margin-bottom: 1%;
      color: rgb(218, 233, 247);
      margin-left: 10%;
      text-align: justify;
    }
  }

  .image {
    flex: 1;
    overflow: hidden;

    img {
      max-width: 100%; // Establecer un ancho máximo para la imagen
      height: auto;
      margin-top: 22%;
    }
  }
}
