<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<div class="card" >
 <div class="container-fluid">
    <hr class="sin-color">
      <div class="header-content" >
        <%= image_tag('angelcordovafoto.png', alt: 'Profile Picture', class: 'profile-pic') %>
        <div class="contact-info blancas">
          <h2 style="color: #eaeaea;">Angel Córdova Alcaraz</h2>
          <p style="color: #eaeaea;">
            Cel. +52-(55)-5320-6288 |
            <a href="mailto:angelcordova85@gmail.com">angelcordova85@gmail.com</a> |
            Ciudad de México |
            <a href="https://www.linkedin.com/in/angel-c%C3%B3rdova-alcaraz-1a7b8ab7/" target="_blank" rel="noopener noreferrer">LinkedIn: Angel Córdova</a>
          </p>
        </div>
      </div>

</div>
</div>
