<div style="position: relative; padding-top: 28%; overflow: hidden;">
  <video id="video" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;" autoplay muted loop>
    <source src="<%= asset_path('fondo_experiencia.mp4.mp4') %>" type="video/mp4">
    Tu browser no soporta el video.
  </video>
</div>




<div class="card">

    <section class="experience">
      <h2 style="color: #dae9f7;">Experiencia Profesional</h2>
      <div class="job">
        <div class="card">
        <h3 style="color: #dae9f7;">Kreston BSG</h3>
        <p style="color: #dae9f7;"><em>Consultoría | Ciudad de México/ Puebla | Gerente Legal Corporativo</em> (enero 2022 – presente)</p>
        <ul class="work-sans" style="color: #dae9f7;">
          <li>• Responsable del gobierno corporativo para empresas de diferentes sectores.</li>
          <li>• Encabecé negociaciones para empresas del sector turístico, energético, tecnológico y educativo.</li>
          <li>• Regularicé empresas en materia de prevención de lavado de dinero (inmobiliarias, desarrolladoras, de servicios y préstamos distinto al sector financiero).</li>
          <li>• Realicé auditorías en materia anti corrupción para empresas privadas.</li>
          <li>• Encabecé el Due Diligence en procesos de fusiones, escisiones y adquisiciones de empresas.</li>
          <li>• Realicé el análisis jurídico, geopolítico y de política económica para la apertura de empresas mexicanas en el extranjero.</li>
          <li>• En materia laboral elaboré contratos, reglamentos interiores de trabajo y negocié liquidaciones de personal estratégico.</li>
          <li>• Atendí y coordiné la respuesta a crisis por accidentes fatales de trabajo.</li>
          <li>• Responsable de la regularización ante la Secretaría de Economía para empresas con capital extranjero.</li>
          <li>• Emití varias opiniones en materia de Propiedad Intelectual respecto del cumplimiento normativo en campañas publicitarias, así como estrategias relacionadas a plagio, además de realizar investigaciones y registros de marcas.</li>
        </ul>
        <h4 style="color: #dae9f7;"><strong> Labores Administrativas del puesto:</strong></h4>
        <ul class="work-sans" style="color: #dae9f7;">
          <li>• Desarrollé e implementé los procesos operativos del área.</li>
          <li>• Desarrollé el sistema de presupuesto para el departamento legal.</li>
          <li>• Desarrollé del Sistema de indicadores (KPI´s) para el departamento legal.</li>
        </ul>
      </div>
 </div>
    <div class="card">
      <div class="job" style="color: #dae9f7;">
        <h3>Córdova Arévalo</h3>
        <p><em>Auditoría y Consultoría | Ciudad de México | </em>
        <em>Gerente Jurídico</em> (diciembre 2017 – enero 2022)</p>
        <ul class="work-sans" >
          <li>• Identificación y mitigación de riesgos legales en distintas operaciones de negocio.</li>
          <li>• Elaboré y negocié acuerdos comerciales e inmobiliarios.</li>
          <li>• Asesoré a nuestros clientes en la participación de licitaciones públicas.</li>
          <li>• Di asistencia legal en materia de litigio, así como coordinación con despachos externos y clientes de la firma.</li>
          <li>• Coordiné la debida diligencia y di asistencia en adquisiciones y fusiones.</li>
          <li>• Comunicación con accionistas, juntas directivas y asesoría con relaciones con gobierno en diferentes niveles.</li>
          <li>• Responsable del gobierno corporativo y encargado de la coordinación de diferentes comités.</li>
          <li>• Líder de proyectos enfocados en fortalecer los departamentos legales de nuestros clientes.</li>
          <li>• Asesoré a departamentos de Recursos Humanos y participé en negociaciones sindicales.</li>
        </ul>
    </div>
        <p style="color: #dae9f7;"><strong>Abogado Senior</strong> (marzo 2016 – noviembre 2017)</p>
        <ul style="color: #dae9f7;">
          <li>• Redacción y elaboración de diversos contratos y convenios comerciales.</li>
          <li>• Cálculo de pérdidas derivadas incumplimientos de contratos, fraudes y abuso de confianza reportadas en los Estados Financieros de nuestros clientes.</li>
          <li>• Asesoría a nuestros clientes en la participación de licitaciones públicas e invitaciones a cuando menos tres personas.</li>
          <li>• Elaboración de diversos documentos de acuerdos de privacidad y acuerdos de confidencialidad.</li>
          <li>• Responsable de la elaboración de manuales de procedimientos de operación y

          <li>• Responsable de la elaboración de manuales de procedimientos de operación y normatividad interna de las empresas.</li>
          <li>• Colaboré en auditorías operativas.</li>
        </ul>
      </div>
      <!-- Add more job sections as needed -->
    </section>
</div>

<div class="card" style="color: #dae9f7;">
    <section class="education">
      <h2>Educación</h2>
      <div class="card" style="color: #dae9f7;">
      <p><strong>Maestría en Derecho de la Empresa</strong> - Universidad Panamericana (2020)</p>
      <p><strong>Especialidad en Prevención y Persecución de Operaciones con Recursos de Procedencia Ilícita</strong> - INACIPE, Instituto Nacional de Ciencias Penales (2018)</p>
      <p><strong>Diplomado en Derecho Inmobiliario</strong> - UVM, Universidad del Valle de México (2022)</p>
      <p><strong>Licenciatura en Derecho</strong> - Barra Nacional de Abogados (2014)</p>
      </div>
    </section>
</div>

<div class="card" style="color: #dae9f7;">
    <section class="languages">
      <h2>Idiomas</h2>
      <div class="card" style="color: #dae9f7;">
      <p>Inglés – Avanzado (TOEFL 583/677 – C1)</p>
      <p>Español – Nativo</p>
      </div>
    </section>
</div>

<div class="card" style="color: #dae9f7;">
    <section class="certifications">
      <h2>Certificaciones</h2>
            <div class="card" style="color: #dae9f7;">

      <p>Prevención de la Lavado de Dinero - Actividades Vulnerables</p>
      </div>
    </section>
  </div>
</div>

<div class="container-fluid">
  <!-- Tu código anterior -->

  <div class="text-center mt-5">
    <a href="<%= asset_url('curriculum_vitae.pdf') %>" class="btn-download" download>Descargar Currículum</a>
  </div>
</div>


<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
<hr class="sin-color">
